<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jhalloran.zoo">
  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:name=".ZooApplication"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:label="@string/title_activity_zoo_manager"
        android:name=".ZooManagerActivity"
        android:parentActivityName=".MainActivity"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
        android:label="@string/create_animal"
        android:name=".CreateAnimalActivity"
        android:parentActivityName=".ZooManagerActivity"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
        android:label="@string/title_activity_create_pen"
        android:name=".CreatePenActivity"
        android:parentActivityName=".ZooManagerActivity"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
        android:label="@string/title_activity_animal_detail"
        android:name=".AnimalDetailActivity"
        android:parentActivityName=".ZooManagerActivity"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
        android:label="@string/title_activity_pen_detail"
        android:name=".PenDetailActivity"
        android:parentActivityName=".ZooManagerActivity"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
        android:label="@string/title_activity_create_zookeeper"
        android:name=".CreateZookeeperActivity"
        android:parentActivityName=".ZooManagerActivity"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
        android:name=".ZookeeperDetailActivity"
        android:label="@string/title_activity_zookeeper_detail"
        android:parentActivityName=".ZooManagerActivity"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
  </application>

</manifest>